.app-header{
    border-bottom: 1px solid gray;
    height: 50px;
    display: flex;
    justify-content: center; /*จัดตรงกลางนับจากซ้าย*/
    align-items: center; /*จัดตรงกลางนับจากขวา*/
  }
  .app-header-logo{
    height: 44px;
  }